

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size: 2em;
}